$font-link: 'Calibri';
$font-color: rgb(128, 128, 128);
$color-light: rgb(126, 102, 102);

$mr-r-sm: 15px;
$mr-r-md: 30px;
$mr-r-lg: 45px;

$padding-sm: 5px;
$padding-md: 15px;
$padding-lg: 35px;

$bg-color-light: rgb(240, 240, 240);