@import 'variables';

.n-mr-r-sm    {
    margin-right: $mr-r-sm;
}
.n-mr-r-md    {
    margin-right: $mr-r-md;
}
.n-mr-r-lg    {
    margin-right: $mr-r-lg;
}

.n-bg-color-light {
    background-color: $bg-color-light;
}

.n-vertical-size-100 {
    height: 100vh;
}
// =========Padding=========
.n-padding-sm {
    padding: $padding-sm;
}

.n-padding-md {
    padding: $padding-md;
}

.n-padding-lg {
    padding: $padding-lg;
}